.button {
    color: $color-black;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    font-family: $mainfont;
    letter-spacing: 0.88px;
    text-transform: uppercase;
    transition: all .2s ease-out;

    @include breakpoint(small only) {
        padding: 12px 40px;
    }

    &:focus {
        outline: none;
    }

    &:hover,
    &:active {
        color: $color-black;
    }

    &.primary {

        &.purple {
            background-color: $button-primary-purple;
            color: $color-white;

            &:hover,
            &:active {
                background-color: #E4572E;
            }
        }

        &.yellow {
            background-color: $button-primary-yellow;

            &:hover,
            &:active {
                background-color: $button-primary-purple;
                color: $color-white;
            }
        }
    }

    &.secondary {

        &.white {
            background-color: $color-white;
            border: 1px solid $button-secundary-white;

            &:hover,
            &:active {
                background-color: $button-secundary-blue;
                color: $color-white;
                border: 1px solid $button-secundary-blue;
            }
        }

        &.transparent {
            background-color: transparent;
            border: 1px solid $button-secundary-white;

            &:hover,
            &:active {
                background-color: $button-secundary-blue;
                color: $color-white;
                border: 1px solid $button-secundary-blue;
            }
        }

    }

    &.tertiary {
        position: relative;
        padding: 0;

        &:after {
            content: "";
            position: absolute;
            background-image: url("/static/default/media/svg/button-tertiary.svg");
            background-repeat: no-repeat;
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
            top: 2px;
            right: -16px;
        }

        &:hover,
        &:active {

            &:after {
                background-image: url("/static/default/media/svg/button-tertiary-hover.svg");
            }
        }
    }
}


