.footer {
    background-image: url("/static/default/media/svg/golf-footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 -7px -2px;

    overflow: hidden;
    padding-top: 100px;
    position: relative;
    z-index: 10;

    @include breakpoint(small only) {
        padding-top: 50px;
    }

    p {
        color: $color-white;
        margin: 0;
        font-size: 13px;
        line-height: 19px;
    }

    &__top {
        margin-bottom: 25px;

        &-contact {

            @include breakpoint(small only) {
                text-align: center;
            }

            address {
                font-style: normal;
                color: $color-white;

                @include breakpoint(small only) {
                    text-align: center;
                }
            }

            .logo {
                margin-bottom: 50px;
                width: 240px;

                @include breakpoint(small only) {
                    margin-bottom: 20px;
                }
            }

            .contact {
                margin-top: 15px;

                @include breakpoint(small only) {
                    margin-bottom: 25px;
                }

                a {
                    color: $color-white;
                    text-decoration: underline;
                    font-size: 13px;

                    &.phone {
                        margin-bottom: 10px;

                        @include breakpoint(small only) {
                            margin-bottom: 3px;
                        }
                    }
                }
            }

            .facebook {
                display: flex;
                align-items: center;
                margin-top: 10px;
                color: $color-white;
                font-size: 13px;
                line-height: 19px;

                @include breakpoint(small only) {
                    justify-content: center;
                }
            }
        }

        &-links {

            @include breakpoint(small only) {
                display: block;
                text-align: center;
            }

            h2 {
                color: $color-white;
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 15px;
                line-height: 25px;

                @include breakpoint(small only) {
                    margin-bottom: 5px;
                    line-height: 22px;
                    font-size: 16px;
                }
            }

            li {
                a {
                    color: $color-white;
                    font-size: 14px;
                    font-family: $textfont;

                    &:hover {

                    }
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(255,255,255,0.2);
        padding: 20px 0 20px 0;
        margin-bottom: 10px;

        @include breakpoint(small only) {
            display: block;
            padding: 0 0 30px 0;
            margin-bottom: 0;
        }

        &-copy {
            align-self: center;
            font-size: 14px;
            color: $color-white;
            margin-top: 6px;

            @include breakpoint(small only) {
                text-align: center;
                padding: 25px 0 15px 0;
            }
        }

        &-items {

            @include breakpoint(small only) {
                display: block;
                text-align: center;
            }

            li {
                margin-right: 32px;

                @include breakpoint(small only) {
                    margin-right: 0;
                }

                &.last {
                    margin-right: 0;
                }

                a {
                    color: $color-white;
                    font-size: 11px;
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 1px;
                    opacity: .8;
                    transition: opacity .2s ease-out;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .sun {
        position: absolute;
        top: -122px;
        right: -154px;
        opacity: .1;

        @include breakpoint(small only) {
            top: -64px;
            right: -75px;
            width: 225px;
        }
    }

    ul {
        list-style: none;
    }
}