form {

    label {
        font-size: $font-form;
        font-weight: $medium;
        font-family: $mainfont;
    }

    .hidden {
        display: none;
    }

    .color-warning {
        color: $button-primary-purple;
    }

    .form-group {
        &.margin-top-bottom {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        &.margin-left {
            margin-left: 10px;
        }
    }
}