html,
body {
    height: 100%;
    background: white;

    @include breakpoint(large up) {
        min-height: 925px;
    }
}

body {
    @include font-text-m;
    color: $color-text;
}

figure,
footer,
picture {
    position: relative;
}

picture {
    display: block;
}

p {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 25px;
}

a p {
    color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

header + main > .block_form, header + main > .block_form_fullwidth {
    margin-top: 200px;

    @include breakpoint(large down) {
        margin-top: 100px;
    }
}

h2.heading-m {
    letter-spacing: -1px;

    @include breakpoint(small only) {
        font-size: 26px;
        line-height: 32px;
    }
}

.decoration {
    margin-bottom: 12px;

    @include breakpoint(small only) {
        margin-bottom: 6px;
    }
}

.mt {
    margin-top: 50px;

    @include breakpoint(small only) {
        margin-top: 20px;
    }
}

.mb {
    margin-bottom: 50px;

    @include breakpoint(small only) {
        margin-bottom: 20px;
    }
}

.no-padding {
    padding: 0;
}

.text-center {

    @include breakpoint(small only) {
        text-align: left;
    }
}

section {
    margin: map_get($grid-section-gutters, small) 0;

    @include breakpoint(large) {
        margin: map_get($grid-section-gutters, large) 0;
    }

    @include breakpoint(xxlarge) {
        margin: map_get($grid-section-gutters, xxlarge) 0;
    }
}

td, tr, tbody, table {
    border: none;
}

.grecaptcha-badge {
    visibility: hidden;
    opacity: 0;
}