.block_header-text-image {
    padding-top: 50px;

    @include breakpoint(small only) {
        padding-top: 25px;
    }

    h1 {
        font-size: 64px;
        letter-spacing: -2px;
        line-height: 72px;
        margin-bottom: 20px;

        @include breakpoint(small only) {
            font-size: 38px;
            line-height: 42px;
            margin-bottom: 15px;
        }
    }

    p {
        width: 60%;

        @include breakpoint(large down) {
            width: 90%;
        }
    }

    .featured {
        margin-bottom: 50px;
        background: rgba(253,185,23,.2);
        border-radius: 17.5px;
        display: flex;
        z-index: 10;
        position: relative;

        @include breakpoint(small only) {
            margin: 5px 0 35px 0;
            padding: 0;
            display: grid;
            display: -ms-grid;
            grid-template-columns: min-content 1fr;
            -ms-grid-columns: min-content 1fr;
            align-items: center;
        }

        span {
            display: flex;
            align-items: center;
            background: #3FC3DA;
            padding: 8px 15px 8px 15px;
            border-radius: 17.5px;
            margin-left: -4px;
            color: white;
            font-size: 14px;
            font-family: "Rubik", serif;
        }

        a {
            display: flex;
            align-items: center;
            color: black;
            margin-left: 20px;
            font-size: 14px;
            letter-spacing: -0.35px;
            font-family: "Rubik", serif;
            line-height: 1;
            text-decoration: none;
            padding: 7px 15px 8px 0;
        }
    }

    .image {
        background: rgba(253,185,23,0.2);
        position: relative;
        border-radius: 32px;
        min-height: 50vh;

        @include breakpoint(xlarge down) {
            min-height: unset;
        }

        @include breakpoint(large down) {
            display: none;
        }

        &-triangle {
            position: absolute;
            left: -55px;
            bottom: 77px;
            z-index: 2;
        }

        &-oval {
            position: absolute;
            right: -75px;
            bottom: -55px;
            z-index: 2;
            width: 150px;

            @media all and (max-width: 1350px) {
                right: 4px;
                width: 122px;
            }
        }

        &-rectangle {
            position: absolute;
            top: -55px;
            right: 10%;
            z-index: 2;
        }

        &-zon {
            position: absolute;
            top: -153px;
            left: -119px;
            width: 398px;
        }

        figure {
            position: unset;

            img {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.block_header-full {
    position: relative;

    .full {
        padding: 50px 0 25px 0;

        @include breakpoint(small only) {
            padding: 25px 0;
        }

        &:after {
            content: "";
            background: rgba(253,185,23,.2);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin-top: -175px;
            pointer-events: none;
            z-index: 1;

            @include breakpoint(small only) {
                margin-top: -90px;
            }
        }

        .text-center {
            max-width: 70rem;

            h1 {
                font-size: 64px;
                letter-spacing: -2px;
                line-height: 72px;
                margin-bottom: 10px;
                z-index: 2;
                position: relative;

                @include breakpoint(small only) {
                    font-size: 38px;
                    line-height: 42px;
                    margin-bottom: 15px;
                    padding: 0 10px;
                }
            }

            p {
                z-index: 2;
                position: relative;
                max-width: 55rem;
                margin: 0 auto 32px auto;

                @include breakpoint(small only) {
                    padding: 0 10px;
                }
            }
        }
    }

    .image {
        position: relative;
        width: 100%;

        &-triangle {
            position: absolute;
            left: -62px;
            bottom: -55px;
            z-index: 4;

            @include breakpoint(small only) {
                left: -47px;
            }
        }

        &-oval {
            position: absolute;
            right: -75px;
            bottom: -63px;
            z-index: 4;
            width: 150px;

            @media all and (max-width: 1350px) {
                right: 0;
            }

            @include breakpoint(xlarge down) {
                right: 5px;
                width: 129px;
            }

            @include breakpoint(small only) {
                right: 25px;
                bottom: -40px;
                width: 80px;
            }
        }

        &-rectangle {
            position: absolute;
            top: -75px;
            left: 7%;
            z-index: 4;

            @include breakpoint(small only) {
                top: -58px;
                left: 15%;
                width: 100px;
            }
        }

        &-zon {
            position: absolute;
            top: -134px;
            right: -190px;
            width: 350px;
            z-index: 1;

            @media all and (max-width: 1600px) {
                top: -224px;
                right: -107px;
                width: 306px;
            }

            @media all and (max-width: 1450px) {
                top: -214px;
                right: 0;
                width: 177px;
            }

            @include breakpoint(small only) {
                top: -85px;
                right: 15px;
                width: 100px;
                transform: rotate(-5deg);
            }
        }

        figure {
            display: flex;
            justify-content: center;

            img {
                align-self: center;
                max-height: 600px;
                width: 100%;
                z-index: 3;

                @include breakpoint(small only) {
                    max-height: 295px;
                }
            }
        }
    }
}

.block_header_slider {
    margin: 90px 0 0 0;
    overflow: hidden;

    @include breakpoint(large down) {
        margin-top: 60px;
    }

    .slider {
        max-height: 529px;
        opacity: 0;

        &.slick-initialized {
            opacity: 1;
        }

        .slide {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            padding: 150px 0;
            overflow: hidden;

            @include breakpoint(large down) {
                padding: 50px 0;
            }

            @include breakpoint(small only) {
                padding: 20px 0;
            }

            &:after {
                content: "";
                position: absolute;
                background-color: rgba(0, 108, 183, .2);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .inner {

                .content-right figure img {
                    width: 200px;
                    height: auto;
                }
                .content-left {
                    position: relative;
                    padding: 25px;

                    @include breakpoint(large down) {
                        padding: 0 25px 25px 25px;
                    }

                    @include breakpoint(small only) {
                        padding: 0 10px 10px 10px;
                    }

                    header {
                        width: 100%;
                        margin-bottom: 15px;
                        text-align: center;

                        h1 {
                            color: $color-white;
                            font-size: 32px;
                            line-height: 40px;
                            @include breakpoint(small only) {
                                line-height: 1;
                                font-size: 28px;
                            }
                        }
                    }

                    h1, .text {
                        position: relative;
                        z-index: 1;
                    }

                    .text {
                        color: $color-white;
                        font-size: 18px;
                        line-height: 25px;
                        font-weight: 600;
                        text-shadow: 0 3px 12px rgba(0, 56, 95, 0.2);
                        width: 100%;
                    }
                }
            }
        }

        .slick-prev {
            z-index: 99;
            top: 50%;

            @include breakpoint(small only) {
                display: none!important;
            }

            &:before {
                content: "";
                background-image: url("/static/default/media/images/templating/svg/chevron.svg");
                transform: rotate(180deg);
                left: 50px;
                width: 25px;
                height: 25px;
                position: absolute;
            }
        }

        .slick-next {
            top: 50%;

            @include breakpoint(small only) {
                display: none!important;
            }

            &:before {
                content: "";
                background-image: url("/static/default/media/images/templating/svg/chevron.svg");
                right: 50px;
                width: 25px;
                height: 25px;
                position: absolute;
            }
        }
    }
}