.nav {
    contain: layout;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all .3s;
    z-index: 3;

    &.nav-up,
    &.nav-down {

    }

    @include breakpoint(large down) {

    }

    &__desktop {
        padding: 20px 0;

        @include breakpoint(large down) {
            display: none;
        }

        &-menu {
            justify-content: flex-end;
            align-self: flex-end;
        }

        &-logo {
            img {
                width: 250px;
            }
        }

        &-breadcrumbs {

            ol {
                display: flex;
                list-style: none;
                margin-top: 35px;

                li:not(.current) {
                    margin-right: 5px;

                    a {
                        font-family: "Rubik", serif;
                        font-size: 14px;
                        color: rgba(14,19,31,0.5);
                        letter-spacing: -0.35px;

                        span:after {
                            content: "/";
                            margin-left: 5px;
                        }
                    }
                }

                li.current span {
                    font-family: "Rubik", serif;
                    font-size: 14px;
                    color: #964097;
                    letter-spacing: -0.35px;
                }
            }
        }

        .wrapper {
            justify-content: flex-end;
            margin-right: -30px;

            @include breakpoint(large down) {
                display: none;
            }

            li {
                padding-right: 30px;

                a {
                    color: $color-black;
                    font-weight: 600;
                    font-size: 16px;
                    transition: color .1s ease-in;

                    &:hover {
                        color: $color-active;
                    }
                }

                &.active {

                    a {
                        color: $color-active;
                    }

                    .submenu li a {
                        color: $color-black;

                        &:hover {
                            color: $color-active;
                        }
                    }
                }

                &:hover .submenu {
                    display: table;
                }
            }

            .open-submenu {
                position: relative;
                margin-right: 10px;

                &.last {
                    .submenu {
                        right: 0;
                    }
                }

                &:after {
                    content: "";
                    background-image: url(/static/default/media/images/templating/svg/chevron-right.svg);
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    right: 18px;
                    top: 12px;
                    background-size: 8px 8px;
                    background-repeat: no-repeat;
                    transform: rotate(90deg);
                }
            }

            .submenu {
                position: absolute;
                background: white;
                border: 1px solid #E9E9E9;
                border-radius: 6px;
                box-shadow: 0 0 24px 0.2px rgba(0,0,0,0.1);
                padding: 10px 0 15px 15px;
                width: max-content;
                display: none;

                li {

                    a {
                        font-weight: 500;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    &__mobile {
        display: none;
        padding: 10px 0;

        @include breakpoint(large down) {
            display: flex;
        }

        &-logo {

            img {

            }
        }

        &-hamburger {
            align-self: center;
            text-align: end;

            button {
                cursor: pointer;
                font-size: 10.5px;
                text-align: right;

                span.line {
                    height: 5px;
                    width: 30px;
                    background-color: $color-black;
                    display: block;
                    margin: 3px 0 3px 5px;
                }

                span.text {

                }
            }
        }
    }
}

body {
    contain: size;

    .mobile {
        contain: content;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        width: 275px;
        top: 7px;
        right: 7px;
        z-index: 50;
        height: auto;
        overflow: hidden;
        transform: translateX(275px);
        transition: all .3s ease-out;

        &__menu {
            position: relative;

            &-close {
                cursor: pointer;
                width: 15px;
                height: 15px;
                background-image: url(/static/default/media/images/templating/svg/close.svg);
                background-size: cover;
                position: absolute;
                right: 15px;
                top: 23px;
                z-index: 5;

                span {
                    position: absolute;
                    top: 2px;
                    right: 23px;
                    font-size: 12px;
                }
            }

            &-oval {
                opacity: .1;
                position: absolute;
                bottom: 20%;
                right: -121px;
                width: 300px;
                pointer-events: none;
            }

            &-triangle {
                opacity: .1;
                position: absolute;
                bottom: 21px;
                left: -112px;
                width: 300px;
                pointer-events: none;
            }

            &-rectangle {
                opacity: .1;
                position: absolute;
                top: -11%;
                left: -122px;
                width: 300px;
                transform: rotate(39deg);
                pointer-events: none;
            }

            &-list {
                background: white;
                border: 1px solid #E9E9E9;
                border-radius: 6px;
                padding: 10px 0 15px 0;
                list-style: none;

                li {
                    padding: 5px 0 0 2.5rem;
                    margin-left: -1.25rem;

                    &.first.level-1.active > a {
                        color: $color-active;
                    }

                    &:nth-child(1) {
                        padding-bottom: 5px;
                    }

                    a {
                        color: $color-black;
                        font-family: "Rubik", sans-serif;

                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }
                    }

                    &.active > a {
                        color: $color-active;
                    }

                    ul li {
                        &.active > a {
                            color: $color-active;
                        }
                    }
                }
            }

            &-sublist {
                list-style: none;
                margin: 0 0 5px 20px;

                li {
                    position: relative;
                    border-bottom: 0;
                    padding-top: 0;

                    &:nth-child(1) {
                        padding-bottom: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a:before {
                        content: "";
                        background-color: #fdb917;
                        width: 3px;
                        height: 3px;
                        position: absolute;
                        left: 27px;
                        top: 14px;
                        border-radius: 100%;
                    }

                    ul {
                        display: none;
                        margin-bottom: 0;

                        li {
                            &:first-child {
                                margin-top: -3px;
                            }

                            &:not(:last-child) {
                                margin-bottom: -3px;
                            }

                            a:before {
                                width: 5px;
                                height: 1px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.navigating {
        overflow: hidden;

        .mobile {
            overflow-y: scroll;
            visibility: visible;
            opacity: 1;
            transform: translateX(0);

            &__background {
                position: absolute;
                top: 0;
                width: 100%;
                height: 9999999px;
                background-color: rgba(233, 233, 233, .6);
                z-index: 40;
                transition: all .4s;
            }
        }
    }
}