.sidenav {
    background-color: $color-white;
    display: flex;
    height: 100%;
    min-width: 360px;
    max-width: 360px;
    padding: 64px 32px 0 32px;
    border-right: $color-block-border solid 1px;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow: auto;

    @include breakpoint(large down) {
        box-sizing: border-box;
        right: 0;
        min-width: 320px;
        max-width: 320px;
        position: fixed;
        top: 0;
        padding-top: 48px;
        transform: translateX(102%);
        transition: transform 300ms ease-out;
        user-select: none;
        z-index: 30;
        margin: 0;
        border-right: none;
        background-color: $color-white;
        list-style: none;
    }

    ul.mainmenu {
        list-style: none;
        margin: 64px 0 0 0;

        > li {
            text-transform: uppercase;
            font-size: $font-s;
            font-weight: $bold;
            line-height: 52px;
            position: relative;

            a {
                color: rgba($color-menu-item, 0.7);
                @include transition(color 200ms ease-out);
            }

            &:hover {
                a {
                    color: $color-menu-item;
                }
            }

            &.active {
                a {
                    color: $color-menu-item;
                }

                &:before {
                    content: '';
                    background-image: url("/static/default/media/images/templating/svg/arrow-right-orange.svg");
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    width: 17px;
                    height: 17px;
                    display: inline-block;
                    margin-right: 6px;
                    @include transform(translateY(2px));
                }
            }
        }

        .button {
            margin-top: 32px;

            @include breakpoint(medium) {
                margin-top: 64px;
            }
        }
    }

    .brand {
        img {
            width: 120px;
        }
    }

    .menu-bottom {
        margin-bottom: 64px;
        width: 100%;

        ul.menu-bottom__list {
            list-style: none;
            margin-top: 64px;
            padding-bottom: 32px;
            border-bottom: rgba($color-block-border, 0.3) solid 1px;

            > li {
                letter-spacing: 0.5px;

                a {
                    color: rgba($color-menu-item, 0.7);
                    font-size: $font-s;
                    @include transition(color 200ms ease-out);

                    &:hover {
                        color: $color-red;
                    }
                }
            }
        }

        .bottom-holder {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
        }

        ul.language-menu {
            list-style: none;
            position: relative;
            display: inline-block;
            align-self: center;

            li {
                color: rgba($color-menu-item, 0.7);
                font-size: $font-s;
                display: block;

                a {
                    color: rgba($color-menu-item, 0.7);
                }

                img {
                    width: 20px;
                    display: inline-block;
                    margin-right: 6px;
                    @include transform(translateY(-2px));
                }
            }

            span.js-toggle-language {
                display: block;
                cursor: pointer;

                &:after {
                    content: '';
                    background-image: url("/static/default/media/images/templating/svg/chevron-down-orange.svg");
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    width: 9px;
                    height: 7px;
                    display: inline-block;
                    margin-left: 4px;
                    @include transition(transform 150ms ease-out);
                    transform-origin: 50% 50%;
                }
            }
        }

        ul.socials {
            display: inline-block;
            list-style: none;

            > li {
                display: inline-block;
                margin-right: 8px;

                @include breakpoint(small only) {
                    margin-right: 4px;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover img {
                    opacity: 0.8;
                }

                img {
                    width: 15px;
                    filter: grayscale(1);
                    opacity: 0.3;
                    @include transition(opacity 200ms ease-out);
                }

                &.facebook img {
                    width: 18px;
                }

                &.twitter img,
                &.linkedin img {
                    width: 19px;
                }

                &.youtube img {
                    width: 39px;
                }
            }
        }
    }
}