.usps {
    contain: layout;
    position: relative;

    header {
        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 0;
        }
    }

    &__cards {
        margin: 50px 0;

        @include breakpoint(small only) {
            margin: 25px 0 10px;
        }

        &-card {
            text-align: center;
            padding: 0 25px;

            > div {
                align-items: center;

                @include breakpoint(small only) {
                    margin-bottom: 20px;
                }
            }

            @include breakpoint(small only) {
                text-align: left;
                padding: 0;
            }

            img {
                height: 55px !important;
                margin: 0 0 20px 0;

                @include breakpoint(small only) {
                    margin-right: 15px;
                    height: 40px !important;
                }

                &.image {
                    height: 150px !important;

                    @include breakpoint(small only) {
                        margin: 0;
                        height: 75px !important;
                    }
                }
            }

            .text {
                @include breakpoint(small only) {
                    margin-left: 25px;

                    &.margin {
                        margin-left: 0;
                    }
                }

                h3 {
                    margin-bottom: 5px;

                    @include breakpoint(small only) {
                        margin-bottom: 15px;
                    }
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .decoration.circle {
        opacity: .1;
        position: absolute;
        bottom: -60%;
        right: -600px;
        width: 1200px;

        @media all and (max-width: 1800px) {
            bottom: -100%;
            right: -400px;
            width: 800px;
        }

        @media all and (max-width: 1450px) {
            bottom: -30%;
            right: -300px;
            width: 600px;
        }

        @media all and (max-width: 1150px) {
            bottom: -15%;
            right: -200px;
            width: 400px;
        }

        @media all and (max-width: 800px) {
            bottom: 150px;
            right: -125px;
            width: 275px;
        }
        @media all and (max-width: 400px) {
            bottom: 60px;
            right: -120px;
            width: 275px;
        }
        @supports (-webkit-touch-callout: none) {
            display: none;
        }
    }
}

.block_text-image {

    .text {

        @include breakpoint(medium down) {
            margin-bottom: 100px;
        }

        header h2 {
            @include font-header-m;
        }

        h2 {
            @include font-header-s;
            margin-bottom: 20px;

            @include breakpoint(small only) {
                margin-bottom: 15px;
            }
        }

        ul {
            li {
                margin-left: 15px;
                font-size: 16px;
                line-height: 25px;
            }
        }
    }

    .image {
        position: relative;

        &.large-offset-1 {
            .image-triangle {
                position: absolute;
                left: -62px;
                bottom: 77px;
                z-index: 2;
                transform: rotate(208deg);

                @include breakpoint(small only) {
                    left: -47px;
                }
            }

            .image-oval {
                position: absolute;
                right: -75px;
                bottom: 8px;
                z-index: 2;
                width: 150px;

                @media all and (max-width: 1340px) {
                    right: 14px;
                    bottom: -53px;
                    width: 100px;
                }

                @include breakpoint(small only) {
                    bottom: -35px;
                    width: 75px;
                }
            }

            .image-rectangle {
                position: absolute;
                top: -75px;
                right: 30%;
                z-index: 2;

                @include breakpoint(small only) {
                    top: -50px;
                    right: 20%;
                    width: 100px;
                }
            }
        }

        &.large-order-1 {
            .image-oval {
                position: absolute;
                left: -40px;
                bottom: -47px;
                z-index: 2;
                width: 150px;

                @include breakpoint(small only) {
                    left: -47px;
                }
            }

            .image-triangle {
                position: absolute;
                right: -75px;
                bottom: 8px;
                z-index: 2;
                width: 150px;

                @media all and (max-width: 1340px) {
                    right: 14px;
                    bottom: -53px;
                    width: 100px;
                }

                @include breakpoint(small only) {
                    bottom: -35px;
                    width: 75px;
                }
            }

            .image-rectangle {
                position: absolute;
                top: -75px;
                right: 50%;
                z-index: 2;

                @include breakpoint(small only) {
                    top: -50px;
                    right: 40%;
                    width: 100px;
                }
            }
        }
    }
}

.block_text-image-wide {
    position: relative;
    background-color: rgba(63, 195, 218, 0.05);
    overflow: hidden;
    padding: 150px 0;

    @include breakpoint(small only) {
        padding: 50px 0;
    }

    .text {
        z-index: 2;

        h2 {
            margin-bottom: 20px;

            @include breakpoint(small only) {
                margin-bottom: 15px;
            }
        }
    }

    .image {
        position: absolute;
        right: 0;

        @include breakpoint(large down) {
            display: none;
        }
    }

    .decoration.triangle {
        opacity: .2;
        position: absolute;
        top: -211px;
        right: 773px;
        width: 500px;
        transform: rotate(241deg);
        z-index: 1;

        @media all and (max-width: 1500px) {
            right: 550px;
            width: 445px;
        }

        @include breakpoint(large only) {
            right: 300px;
        }

        @include breakpoint(medium only) {
            right: 0;
        }

        @include breakpoint(small only) {
            width: 370px;
            right: -117px;
        }
    }
}

.block_form {
    position: relative;

    .form {

        header {
            margin-bottom: 75px;

            @include breakpoint(small only) {
                margin-bottom: 0;
            }

            h2 {
                margin-bottom: 20px;

                @include breakpoint(small only) {
                    margin: 15px 0;
                }
            }
        }

        &__image {
            position: relative;
            z-index: 4;

            @include breakpoint(medium down) {
                margin-bottom: 40px;
            }

            figure img {
                width: 100%;
                height: auto;
            }

            &-triangle {
                position: absolute;
                left: -45px;
                bottom: 133px;
                z-index: 5;
            }

            &-oval {
                position: absolute;
                right: -45px;
                top: -67px;
                width: 140px;
                z-index: 5;

                @media all and (max-width: 1350px) {
                    right: 0;
                    top: -70px;
                }

                @include breakpoint(small only) {
                    right: -8px;
                    top: -47px;
                    width: 125px;
                }
            }

            &-rectangle {
                position: absolute;
                bottom: -75px;
                right: 30%;
                z-index: 5;
            }
        }

        .aanhef {
            input {
                transform: translateY(2px);
            }

            label {
                font-size: 15px;
                font-weight: 500;
                font-family: Rubik, serif;
                margin-bottom: 5px;
            }
        }

        &__fields {
            z-index: 5;

            @include breakpoint(medium down) {
                margin-bottom: 40px;
            }

            &-field {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    font-size: 15px;
                    font-weight: 500;
                    font-family: "Rubik", serif;
                    margin-bottom: 5px;
                }

                input,
                textarea {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    padding: 0 15px;
                    border: 1px solid rgba(14, 19, 31, .2);
                    color: rgba(51, 51, 51, .8);
                    font-family: "Work Sans", serif;
                    font-size: 15px;
                    caret-color: $color-active;
                    height: 40px;
                    letter-spacing: -0.4px;

                    &:focus {
                        border: 2px solid rgba(14, 19, 31, 0.2);
                        outline: none;
                    }
                }

                textarea {
                    height: auto;
                    padding: 15px;
                }
            }

            fieldset {
                padding: 0;
                border: none;
                font-size: 15px;
                caret-color: #fdb917;
                margin-bottom: 20px;
                margin-top: 10px;

                input {
                    margin-right: 10px;
                }

                p {
                    font-size: 15px;
                    font-weight: 500;
                    font-family: "Rubik", serif;
                    margin-bottom: 10px;
                }

                label {
                    font-size: 15px;
                    font-weight: 500;
                    font-family: Rubik, serif;
                }
            }

            .button.yellow {
                width: 100%;
                margin-top: 15px;
                cursor: pointer;
            }

            .note {
                text-align: center;
                width: 100%;
                margin-top: 10px;

                p {
                    font-style: italic;
                    font-size: 14px;
                    color: #666666;
                }
            }
        }

        #map {
            height: 100%;

            @include breakpoint(medium down) {
                height: 400px;
            }
        }

        .infowindow {
            h6 {
                color: $color-black;
                margin: 0;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    svg {
        position: absolute;
        left: -289px;
        bottom: -385px;
        opacity: .1;
        width: 1000px;
        height: 900px;
        z-index: 0;
        transform: rotate(420deg);

        @media all and (max-width: 1700px) {
            left: -234px;
            bottom: -330px;
            width: 700px;
            height: 700px;
            transform: rotate(422deg);
        }

        @include breakpoint(large down) {
            left: -234px;
            bottom: 307px;
            width: 700px;
            height: 700px;
            transform: rotate(422deg);
        }

        @include breakpoint(small only) {
            left: -234px;
            bottom: 457px;
            width: 510px;
            height: 500px;
            transform: rotate(422deg);
        }
    }
}

.block_form_fullwidth {
    position: relative;

    .form {
        header {
            margin-bottom: 75px;

            @include breakpoint(small only) {
                margin-bottom: 0;
            }

            h2 {
                margin-bottom: 20px;

                @include breakpoint(small only) {
                    margin: 15px 0;
                }
            }
        }

        .aanhef {
            input {
                transform: translateY(2px);
            }

            label {
                font-size: 15px;
                font-weight: 500;
                font-family: Rubik, serif;
                margin-bottom: 5px;
            }
        }

        &__fields {
            z-index: 5;

            @include breakpoint(medium down) {
                margin-bottom: 40px;
            }

            &-field {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    font-size: 15px;
                    font-weight: 500;
                    font-family: "Rubik", serif;
                    margin-bottom: 5px;
                }

                input,
                textarea {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    padding: 0 15px;
                    border: 1px solid rgba(14, 19, 31, .2);
                    color: rgba(51, 51, 51, .8);
                    font-family: "Work Sans", serif;
                    font-size: 15px;
                    caret-color: $color-active;
                    height: 40px;
                    letter-spacing: -0.4px;

                    &:focus {
                        border: 2px solid rgba(14, 19, 31, 0.2);
                        outline: none;
                    }
                }

                textarea {
                    height: auto;
                    padding: 15px;
                }
            }

            fieldset {
                padding: 0;
                border: none;
                font-size: 15px;
                caret-color: #fdb917;
                margin-bottom: 20px;
                margin-top: 10px;

                input {
                    margin-right: 10px;
                }

                p {
                    font-size: 15px;
                    font-weight: 500;
                    font-family: "Rubik", serif;
                    margin-bottom: 10px;
                }

                label {
                    font-size: 15px;
                    font-weight: 500;
                    font-family: Rubik, serif;
                }
            }

            .button.yellow {
                width: 100%;
                margin-top: 15px;
                cursor: pointer;
            }

            .note {
                text-align: center;
                width: 100%;
                margin-top: 10px;

                p {
                    font-style: italic;
                    font-size: 14px;
                    color: #666666;
                }
            }
        }

        .infowindow {
            h6 {
                color: $color-black;
                margin: 0;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

.block_overview {
    contain: content;

    header {
        margin-bottom: 20px;

        h2 {
            font-size: 32px;
            line-height: 40px;
            @include breakpoint(small only) {
                font-size: 26px;
                line-height: 32px;
            }
        }
    }

    &-image {
        margin-bottom: 30px;
        position: relative;
    }

    &-content {

        p {
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 5px;
        }

        h4 {
            font-size: 22px;
        }

        .button.text {
            padding: 0;
        }
    }

    .xxlarge-2 {
        .image {
            margin-bottom: 15px;
        }

        h3 {
            font-size: 25px;
            line-height: 1;
        }
    }
}

.block_intro {
    h2 {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 40px;

        @include breakpoint(small only) {
            font-size: 26px;
            line-height: 32px;
        }
    }

    p {
        margin-bottom: 50px;
    }
}

.block_title-text {

    h2 {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 40px;

        @include breakpoint(small only) {
            font-size: 26px;
            line-height: 32px;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }

    a {
        color: $button-primary-purple;
        text-decoration: underline;
        transition: all .2s ease-out;

        &:hover {
            color: $button-secundary-blue;
        }
    }

    ul {
        margin: 15px 0 15px 15px;
        list-style-type: none;

        li {
            position: relative;
            font-size: 16px;
            line-height: 27px;
            margin-left: 15px;

            &:before {
                content: "";
                position: absolute;
                width: 3px;
                height: 3px;
                top: 14px;
                left: -13px;
                background: #0e131f;
                border-radius: 50%;
            }
        }
    }
}

.block_cta {

    .wrapper {
        position: relative;
        background-image: url(/static/default/media/svg/golf.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5px;

        .image {
            z-index: 3;

            img {
                min-height: 325px;
            }
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 0;
            height: 0;
            border-top: 100px solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 250px solid rgba(255, 255, 255, 0.2);

            @include breakpoint(medium down) {
                border-top: 40px solid transparent;
                border-bottom: 0 solid transparent;
                border-left: 125px solid rgba(255, 255, 255, 0.2);
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 0;
            height: 0;
            border-left: 400px solid transparent;
            border-right: 0 solid transparent;
            border-top: 100px solid rgba(255, 255, 255, .2);

            @include breakpoint(medium down) {
                border-left: 200px solid transparent;
                border-right: 0 solid transparent;
                border-top: 50px solid rgba(255, 255, 255, .2);
            }
        }

        .triangle {
            position: absolute;
            right: -45px;
            bottom: -57px;

            @media all and (max-width: 1350px) {
                right: 0;
                bottom: -65px;
            }
        }

        .oval {
            position: absolute;
            left: 29px;
            top: 41px;

            @include breakpoint(medium down) {
                left: -25px;
                top: -20px;
                width: 60px;
            }
        }

        @include breakpoint(large down) {
            padding: 50px 15px;
        }

        h2 {
            margin-bottom: 32px;
            font-size: 64px;
            line-height: 56px;

            @include breakpoint(small only) {
                font-size: 42px;
                line-height: 24px;
            }
        }

        fieldset {
            border: none;
            padding: 0;

            label {
                font-size: 16px;
                line-height: 25px;

                &:not(last-child) {
                    margin-right: 10px;
                }
            }
        }

        .btn.sendform {
            margin-top: 60px;
            display: block;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }
}

.block_contact {
    contain: content;

    #map {
        height: 600px;

        @include breakpoint(small only) {
            height: 400px;
        }
    }

    &-infowindow {
        h6 {
            color: $color-black;
            margin: 0;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.block_images {
    h2 {
        margin-bottom: 20px;
    }

    .show-border {
        border: 1px solid #DCDCDC;
    }

    .grid-x {

        @include breakpoint(small only) {
            justify-content: center;
        }

        .cell {
            display: flex;
            align-items: center;
            padding: 1rem;
        }
    }

    .grid-margin-x.small-up-2 > .cell {

        @include breakpoint(small only) {
            width: calc(40% - 1rem);
        }
    }
}

.block_slider {
    counter-reset: slide;
    padding-bottom: 50px;
    position: relative;
    @include breakpoint(large down) {
        padding-bottom: 75px;
    }

    .grid-container {
        position: relative;

        .grid-x {
        }
    }

    header {
        h2 {
            margin-bottom: 20px;
            @include breakpoint(small only) {
                margin-bottom: 10px;
            }
        }

        p {
            margin-bottom: 50px;
            @include breakpoint(small only) {
                margin-bottom: 20px;
            }
        }
    }

    .cta {
        z-index: 10;
        margin-top: 40px;
        text-align: end;
        transform: translateX(-12px);
        @include breakpoint(xlarge down) {
            transform: translateX(-55px);
        }
        @include breakpoint(large down) {
            display: flex;
            justify-content: center;
            margin-top: 0;
            text-align: unset;
        }
    }

    .slide {
        cursor: default;

        a.has-link {
            cursor: pointer;
        }

        .wrapper {
            display: flex;

            .counter {
                min-width: 50px;
                position: relative;
                @include breakpoint(small only) {
                    width: 80px;
                }

                &:before {
                    counter-increment: slide;
                    content: "0" counter(slide);
                    position: absolute;
                    top: 10px;
                    color: rgba(14, 19, 31, 0.1);
                    font-family: $countfont;
                    font-weight: 600;
                    font-size: 30px;
                    letter-spacing: -3px;
                    @include breakpoint(small only) {
                        font-size: 25px;
                    }
                }
            }

            a:focus {
                outline: none;
            }

            figure {
                margin-bottom: 30px;
                z-index: 10;

                img {
                    z-index: 10;
                }
            }

            h2 {
                margin-bottom: 20px;
                letter-spacing: -0.45px;
                z-index: 10;
            }

            p {
                z-index: 10;
            }
        }
    }

    .progress {
        position: absolute;
        left: 15px;
        bottom: -28px;
        height: 2.5px;
        width: calc(100% - 135px);
        background-color: rgba(199, 199, 199, .5);
        background-image: linear-gradient(to right, #fdb917, #fdb917);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size .5s ease-out;
        z-index: 10;
        @include breakpoint(large down) {
            bottom: -53px;
            left: 10px;
        }
    }

    svg {
        position: absolute;
        left: -352px;
        bottom: -453px;
        opacity: .1;
        width: 971px;
        height: 802px;
        z-index: -1;
        transform: rotate(199deg);
        pointer-events: none;
        @media all and (max-width: 1700px) {
            left: -234px;
            bottom: -446px;
            width: 700px;
            height: 700px;
        }
        @include breakpoint(large down) {
            left: -100px;
            bottom: -67px;
            width: 300px;
            height: 300px;
        }
    }

    .slider {
        position: relative;
        transition: all 400ms ease-out 500ms;
        margin: 0 0 16px 0;
        cursor: ew-resize;

        .slick-list {
            margin-right: 0;
        }

        &.count {
            .slick-list {
                overflow: hidden;
                margin: 0 -30px;
                @include breakpoint(small only) {
                    margin: 0;
                }
            }
        }

        .slick-track {
            overflow: hidden;
        }

        .slick-slide {
            outline: 0;
            margin: 0 9px;
            @include breakpoint(small only) {
                margin: 0;
            }

            img {
                width: 100%;
            }

            &.count {
                margin: 0 30px;
                @include breakpoint(small only) {
                    margin: 0;
                }
            }
        }
    }
}

.slider-buttons {
    position: absolute;
    right: 40px;
    bottom: -25px;

    @include breakpoint(large down) {
        bottom: -50px;
    }

    .slick-next, .slick-prev {
        width: 35px;
        height: 35px;
    }

    .slick-prev {
        left: -40px;
    }

    button {
        cursor: pointer;
        margin: 0 -10px;
        font-size: 0;
        transition: all 300ms ease-out;
        border: 1.5px solid #964097;
        border-radius: 50%;

        &.slick-disabled {
            opacity: .6;
        }

        &:before {
            content: '';
            background-repeat: no-repeat;
            background-size: 100%;
            display: block;
            width: 10px;
            height: 10px;
        }

        &.slick-next:before,
        &.slide-next:before {
            background-image: url(/static/default/media/svg/button-tertiary.svg);
            transform: rotate(90deg) translateY(-12px);
        }

        &.slick-prev:before,
        &.slide-prev:before {
            background-image: url(/static/default/media/svg/button-tertiary.svg);
            transform: rotate(270deg) translateY(10px);
        }
    }
}

#cookie-consent {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    color: $color-black;
    padding: 30px 0 0 0;
    margin: 0;
    z-index: 30;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;

    &.hide {
        display: none;
    }

    .cookie-title {
        width: 100%;
        border-bottom: $color-black solid 1px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
    }

    p {
        font-size: 15px;
    }

    a {
        color: #3fc3da;
        font-style: italic;
    }

    button {
        padding: 20px 40px;
        background-color: $color-active;
    }
}