.slider-arrows {
    button {
        outline: 0;
        background-color: $color-secondary;
        font-size: 0;
        height: 40px;
        width: 40px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        @include transition(all 250ms ease-out);

        &.slick-next:before,
        &.slick-prev:before {
            content: '';
            background-size: auto 100%;
            background-position: center center;
            background-repeat: no-repeat;
            display: inline-block;
            width: 10px;
            height: 11px;
        }

        &.slick-next {

            &:before {
                background-image: url('/static/default/media/images/templating/svg/arrow-right-orange.svg');
            }

            &:hover {
                &:before {
                    background-image: url('/static/default/media/images/templating/svg/arrow-right-white.svg');
                }
            }
        }

        &.slick-prev {
            &:before {
                background-image: url('/static/default/media/images/templating/svg/arrow-left-orange.svg');
            }

            &:hover {
                &:before {
                    background-image: url('/static/default/media/images/templating/svg/arrow-left-white.svg');
                }
            }
        }

        &.slick-disabled {
            opacity: 0.5;
            cursor: not-allowed;

            &:hover {
                background-color: $color-red;

                &.slick-prev:before {
                    background-image: url('/static/default/media/images/templating/svg/arrow-left-orange.svg');
                }

                &.slick-next:before {
                    background-image: url('/static/default/media/images/templating/svg/arrow-right-orange.svg');
                }
            }
        }
    }
}

.slider__controls {
    margin-top: 32px;

    @include breakpoint(xxlarge) {
        margin-top: 64px;
    }

    .progress {
        display: block;
        width: 100%;
        height: 3px;
        overflow: hidden;
        background-color: $color-block-border;
        background-image: linear-gradient(to right, $color-primary, $color-primary);
        background-repeat: no-repeat;
        background-size: 0 100%;
        @include transition(background-size 500ms ease-out);
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect($color-black, 0);
        border: 0;
    }
}