.heading-xxl,
h1 {
    @include font-header-xxl;
}

.heading-xl,
h2 {
    @include font-header-xl;
}

.heading-l,
h3 {
    @include font-header-l;
}

.heading-m,
h4 {
    @include font-header-m;
}

.heading-s,
h5 {
    @include font-header-s;
}

.heading-xs,
h6 {
    @include font-header-xs;
}

.font-text-l {
    @include font-text-l;
}

.font-text-m {
    @include font-text-m;
}

.font-text-s {
    @include font-text-s;
}

h4 {
    @include font-header-s;
}

h3 {
    @include font-header-xs;
}
