// Colors


$color-black: #0E131F !default;
$color-white: #FFFFFF !default;
$color-active: #FDB917 !default;

$button-primary-yellow: #FDB917 !default;
$button-primary-purple: #964097 !default;
$button-secundary-white: #E6E7E8 !default;
$button-secundary-blue: #3FC3DA !default;


$color-red: #FE4A49 !default;
$color-blue: #006CB7 !default;
$color-secondary: #FE4A49 !default;
$color-green: #C7EFCF;

$color-success: #0B7A00;
$color-error: #DC0000;
$color-block-border: #D8D8D8;
$color-grey: #F7F7F7;
$color-light: #DBCFB0;
$color-dark: #7A6C5D;
$color-primary: #292F36 !default;

//Colors by type
$color-headings: $color-black !default;
$color-text: $color-black !default;
$color-menu-item: #000812;
$color-chat-bg: darken($color-white, 2%);

//Import custom fonts (example: google fonts)
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;600;700;800&display=swap');


//Define fonts
$mainfont: 'Rubik', sans-serif !default;
$textfont: 'Work Sans', sans-serif !default;
$countfont: 'Merriweather', sans-serif !default;


//Font sizes
$default-size: 16px !default;

$heading-h1:  ceil(($default-size * 4))     !default;   // ~64px
$heading-h2:  ceil(($default-size * 3))     !default;   // ~48px
$heading-h3:  ceil(($default-size * 2.5))   !default;   // ~40px
$heading-h4:  ceil(($default-size * 2))     !default;   // ~32px
$heading-h5:  ceil(($default-size * 1.125)) !default;   // ~18px
$heading-h6:  ceil(($default-size * 1.5))   !default;   // ~24px
$font-l:      ceil(($default-size * 1.375)) !default;   // ~22px
$font-m:      ceil(($default-size * 1.125)) !default;   // ~18px
$font-s:      ceil(($default-size * 0.875)) !default;   // ~14px
$font-label:  ceil(($default-size * 0.75))  !default;   // ~12px
$font-form:   ceil(($default-size * 0.9375))  !default;   // ~15px


//Font weights
$light:      300;
$regular:    400;
$medium:     500;
$semibold:   600;
$bold:       700;
$extrabold:  800;
$black:      900;

//Font settings
$text-settings: (
        'font-header-xxl': (
                font-family: $mainfont,
                font-weight: $bold,
                font-size: $heading-h1,
                line-height: 72px,
                color: $color-headings
                //text-transform: none;
        ),
        'font-header-xl': (
                font-family: $mainfont,
                font-weight: $bold,
                font-size: $heading-h2,
                line-height: 56px,
                color: $color-headings
                //text-transform: none;
        ),
        'font-header-l': (
                font-family: $mainfont,
                font-weight: $bold,
                font-size: $heading-h3,
                line-height: 48px,
                color: $color-headings
                //text-transform: none;
        ),
        'font-header-m': (
                font-family: $mainfont,
                font-weight: $bold,
                font-size: $heading-h3,
                line-height: 47px,
                color: $color-headings
                //text-transform: none;
        ),
        'font-header-s': (
                font-family: $mainfont,
                font-weight: $medium,
                font-size: $heading-h5,
                line-height: 22px,
                color: $color-headings
                //text-transform: none;
        ),
        'font-header-xs': (
                font-family: $mainfont,
                font-weight: $bold,
                font-size: $heading-h6,
                line-height: 32px,
                color: $color-headings
                //text-transform: none;
        ),
        'font-text-l': (
                font-family: $textfont,
                font-weight: $regular,
                font-size: $font-l,
                line-height: 28px,
                color: $color-headings
                //text-transform: none;
        ),
        'font-text-m': (
                font-family: $textfont,
                font-weight: $regular,
                font-size: $font-m,
                line-height: 100%
                //text-transform: none;
        ),
        'font-text-s': (
                font-family: $textfont,
                font-weight: $regular,
                font-size: $font-s,
                line-height: 100%,
                text-transform: none
        )
) !default;

//Default gutters between sections
$grid-section-gutters: (
        small: 75px,
        large: 100px,
        xxlarge: 150px
);