//Define default header sizes
@mixin font-header-xxl {
    @include text-setting('font-header-xxl');
}

@mixin font-header-xl {
    @include text-setting('font-header-xl');
}

@mixin font-header-l {
    @include text-setting('font-header-l');
}

@mixin font-header-m {
    @include text-setting('font-header-m');
}

@mixin font-header-s {
    @include text-setting('font-header-s');
}

@mixin font-header-xs {
    @include text-setting('font-header-xs');
}

//Define default text sizes
@mixin font-text-l {
    @include text-setting('font-text-l');
}

@mixin font-text-m {
    @include text-setting('font-text-m');
}

@mixin font-text-s {
    @include text-setting('font-text-s');
}

//Define Special text sizes