#modx-user-menu ul.modx-subnav {
    right: 0;
    left: auto;
}

#modx-user-menu ul.modx-subnav ul.modx-subsubnav {
    left: auto;
    right: 270px;
}

[class*="icon-adwise"] {
    width: 14px;
    height: 14px;
    background: transparent url('../../media/icons/adwise-menu.svg') no-repeat 0 0;
    background-size: 14px 14px;
    vertical-align: -3px;
}

#modx-navbar .top:after {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#modx-navbar .top:hover:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

#modx-navbar {
    box-shadow: 0 0 10px 3px #DE202C;
    box-shadow: 0 0 10px 3px rgba(222, 32, 44, .2);
    -webkit-transition: box-shadow 2000ms ease-in-out;
    -moz-transition: box-shadow 2000ms ease-in-out;
    -o-transition: box-shadow 200ms ease-in-out;
    -ms-transition: box-shadow 2000ms ease-in-out;
    transition: box-shadow 2000ms ease-in-out;
}

#modx-navbar:hover {
    box-shadow: 0 0 15px 3px rgba(221, 27, 46, 0.7);
}

#modx-leftbar:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 100%;
    height: 100px;
    background: transparent url('../../media/images/manager/adwise-logo.png') no-repeat 10px 10px;
    background-size: 40%;
    opacity: .3;
    content: '';
}

#tvFormname-tr {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#tvFormname-caption {
    font-weight: 600;
}

#ext-gen4 {
    margin: 10px 0 25px 0;
}

#ext-gen309 label {
    display: none;
}

#ext-gen23 {
    
}